.card {
    .imageSection {
        display: flex;
        height: auto;
        // background: linear-gradient(45deg, #000000, transparent);

        img {
            width: 100%;
            // height: 100%;
            // max-width: 150px;
        }
    }

    .card-body {
        padding: 14px;

        .card-title {
            margin-bottom: 4px;
        }

        .card-content {
            .card-text {
                margin-bottom: 10px;
            }
        }
    }
}